

<!doctype html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="data-spm" content="a1z5k" />
	<title>畅购集团 | 账户中心</title>
	<link rel="stylesheet" href="https://g.alicdn.com/cm/account/0.4.4/css/ucenter.css"/>
	<link rel="stylesheet" href="elementui/index.css" />
	<link rel="stylesheet" type="text/css" href="css/all.css"  />
	<link rel="stylesheet" type="text/css"  href="css/pages-login.css"  />
	<script src="js/mobile.js"></script>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="https://unpkg.com/vee-validate@2.0.0-rc.7"></script>
	<script src="elementui/index.js"></script>
	<script src="js/axios.js"></script>



</head>



<body data-spm="7633538" class="taobao">

<!--头部 start-->


<div id="header">
	<div class="header-layout">
		<h1 class="logo-bd" >
			<span class="subtitle">  </span>
		</h1>
		<h2 class="logo-title"> 找回密码 </h2>
	</div>
</div>



<!--CBU-->
<link type="text/css" href="https://g.alicdn.com/sd/ncpc/nc.css?t=5678470026000" rel="stylesheet" />
<div id="content" class="app">
	<div class="content-layout">
		<div class="maincenter">
			<div class="maincenter-box">
				<div class="maincenter-box-tip">
					<p class="ui-tiptext ui-tiptext-message ft-14">
						<i class="ui-tiptext-icon iconfont" title=" 提示 ">&#xF046;</i>
						请输入你需要找回登录密码的账户名
					</p>
				</div>
				<form class="ui-form" id="J_Form" >
					<input name='_tb_token_' type='hidden' value='eeb36937a6f36'>
					<input type="hidden" name="action" value="password_action"/>
					<input type="hidden" name="event_submit_do_find_password" value="notNull"/>
					<input id="fm-noc-ua" name="ua" type="hidden" />
					<input id="fm-umid-token" name="umidToken" value="cdc0fd7d0e66a1d2ee238edb3c66bfd71eead7e3" type="hidden" />
					<div class="ui-form-item     ">
						<label class="ui-label"> 登录名: </label>
						<input v-validate="'required'" id="J-accName" v-model="userinfo.username" name="uname" class="ui-input" type="text" placeholder="手机/邮箱/会员名" value="" data-explain="">
						<span v-show="errors.has('uname')" style="color: red"  class="help is-danger">{{ errors.first('uname') }}</span>
					</div>

					<div class="ui-form-item">
						<label class="ui-label"> 手机验证: </label>
						<input v-model="userinfo.phone"  type="text" placeholder="请输入手机号">
						<input id="validateCodeButton" @click="sendValidateCode()"   type="button" style="font-size: 12px" value="获取验证码"><br>
							<input v-validate="'required'"  v-model="userinfo.code" name="code"  placeholder="请输入验证码"/>
						<span v-show="errors.has('code')" style="color: red"  class="ipt-err">{{ errors.first('code') }}</span>
					</div>
					<div class="ui-form-item">
						<label class="ui-label"> 请输入密码: </label>
						<input  v-validate="'required'" v-model="userinfo.password" id="pwd1" name="pwd1"  type="password">
						<span v-show="errors.has('pwd1')" style="color: red"  class="ipt-err">{{ errors.first('pwd1') }}</span>
					</div>
					<div class="ui-form-item">
						<label class="ui-label"> 请确认密码: </label>
						<input  v-validate="'required'" v-model="userinfo.password2" type="password" name="pwd2">
						<span v-show="errors.has('pwd2')" style="color: red"  class="ipt-err">{{ errors.first('pwd2') }}</span>
					</div>
					<div class="ui-form-item ui-form-item-last">
						<input  type="button" @click="account" value=" 确定 " class="ui-button ui-button-lorange ui-button-ldisable" id="submitBtn" >
					</div>
				</form>


			</div>
		</div>
	</div>
</div>


<div id="umid"></div>








<!--foot start-->
<div id="footer">
	<div class="footer-layout">
		<div class="copyright">
			畅购版权所有 1999-2019
		</div>
	</div>
</div>
<!-- host: tbmpc011027140245.center.na62  -->
</body>
</html>
<script type="text/javascript">

	Vue.use(VeeValidate, {
		events: 'onblur',

	});
var vue = new Vue({
	el:".app",
	data:{
		userinfo:{},
		code:{}
	},
	methods:{
		//发送验证码
		sendValidateCode(){

			var telephone = this.userinfo.phone;
			if (!checkTelephone(telephone)) {
				this.$message.error('请输入正确的手机号');
				return false;
			}
			validateCodeButton = $("#validateCodeButton")[0];
			clock = window.setInterval(doLoop, 1000); //一秒执行一次
			this.verificationCode();
		},
		// 生成验证码
		verificationCode() {
			var code = "";

			for(var i=0;i<6;i++){

				var radom = Math.floor(Math.random()*10);

				code += radom;

			}
			this.code = code;
			alert("验证码是"+code);
		},
		account(){
			this.$validator.validateAll().then(function(result) {
				if (result) {
					if(vue.userinfo.password != vue.userinfo.password2){
						vue.$message.error("俩次输入密码不一致");
					}
					else if(vue.userinfo.code != vue.code){
						vue.$message.error("验证码错误");
					}else{
						vue.userinfo.code = '';
						axios.post("/api/user/reset",vue.userinfo).then((response) => {
				if(response.data.flag){
					//登录成功,跳转到index.html
					vue.$message({
						message:response.data.message,
						type:'success'
					});
					var url = "/login.html";
					setTimeout("location.href='" + url + "'", 1000);

				}else{
					//失败，提示失败信息
					vue.$message.error(response.data.message);
				}
			});
					}
					//成功操作
				} else {
					// 失败操作
				}
			})

		},




	}
})
</script>